body {
    background-color: blueviolet;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

/* DIV CONTENEDOR - GENERAL */
#general {
    text-align: center;
}
/* DIV CONTENEDOR - GENERAL */


/* DIV LOGO INICIO */
#start {
    background-color: rgb(103, 26, 175);
    text-align: center;
}

#img_logo {
    width: 75%;
}
/* DIV LOGO INICIO */


/* DIV DESCRIP */
#descrip {
    /* background-color: teal; */
    margin-top: 2rem;
    width: 50%;
    display: inline-block;
}
/* DIV DESCRIP */


/* DIV DESCARGA */
#download {
    margin-top: 4rem;
}

.button {
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 40px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid rgb(103, 26, 175);
}

.button:hover{
    color: #ffffff;
    background-color: #126691;
}

.button:active {
    /* color: teal; */
    color: blueviolet;
}
/* DIV DESCARGA */


/* DIV BETA FORM */
.beta-form-div {
    margin-top: 100px;
    background-color: rgb(103, 26, 175);
    /* text-align: center; */
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* DIV BETA FORM */


/* DIV FORM CONTAINER */
.form-container {
    /* margin-top: 150px; */
    width: 50%;
    /* background-color: teal; */
    text-align: center;
}
/* DIV FORM CONTAINER */


#tabla-form {
    margin-top: 100px;
    margin: 0 auto;
    text-align: center;
}

td {
    padding: 10px;
}


#registro-beta {
    margin-top: 50px;
}